name: Make linescan-api docker

on:
  workflow_dispatch:  # Manual trigger

permissions:
  contents: write
  packages: write

jobs:
  publish-docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout linescan-api-go repository
        uses: actions/checkout@v4
        with:
          repository: centroid-is/linescan-api-go
          token: ${{ secrets.GH_PAT }}
          path: linescan-api-go
          ref: main

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: linescan-api-go
          push: true
          #ghcr.io/${{ github.repository_owner }}/linescan-api-go:${{ steps.go_version.outputs.version }},ghcr.io/${{ github.repository_owner }}/linescan-api-go:latest
          tags: |
            ghcr.io/${{ github.repository_owner }}/linescan-api-go:latest
